body {
    text-align: center; /* center all text */
  }
  
  .stopwatch-container {
    display: inline-block;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .stopwatch {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block; /* make stopwatch block to center it vertically */
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px; /* add some margin to buttons for better spacing */
  }
  
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }